@typeparam TItem where TItem : new()
@using System.Diagnostics.CodeAnalysis
@using System.Reflection
@using WeGrow.Core.Enums
@using System.Globalization;

@code {
    [Parameter]
    public string TableTitle { get; set; }

    [Parameter, AllowNull]
    public List<TItem> Items { get; set; }

    private List<TItem> ChangedItems { get; set; } = new List<TItem>();

    private IEnumerable<PropertyInfo> Properties { get; set; }
    private IEnumerable<PropertyInfo> IdProperties { get; set; }

    private async Task OnChangeEvent(ChangeEventArgs e, PropertyInfo property, TItem item)
    {
        var propValue = property.GetValue(item);
        var propValueType = propValue.GetType();
        var changedItem = ChangedItems.FirstOrDefault(ci => CompareItemIds(ci, item));
        if(changedItem != null)
        {
            property.SetValue(changedItem, propValueType.IsEnum ? Enum.Parse(propValue.GetType(), e.Value.ToString(), true) :
                                           propValueType == typeof(Decimal) ? Decimal.Parse(e.Value.ToString()) :
                                           propValueType == typeof(Int32) ? Int32.Parse(e.Value.ToString()) :
                                           e.Value);
            if(CompareItems(changedItem, item))
            {
                ChangedItems.Remove(changedItem);
            }
        }
        else
        {
            var copyItem = new TItem();
            CopyItemValues(item, ref copyItem);
            property.SetValue(copyItem, propValueType.IsEnum ? Enum.Parse(propValue.GetType(), e.Value.ToString(), true) :
                                        propValueType == typeof(Decimal) ? Decimal.Parse(e.Value.ToString()) :
                                        propValueType == typeof(Int32) ? Int32.Parse(e.Value.ToString()) :
                                        e.Value);
            ChangedItems.Add(copyItem);
        }
    }

    private async Task DeleteEvent(MouseEventArgs e, TItem item)
    {
        Items.Remove(item);
    }
}
@{
    var firstItem = Items.FirstOrDefault();
    Properties = firstItem?.GetType().GetProperties();
    IdProperties = Properties?.Where(p => !p.GetSetMethod(true).IsPublic && p.Name.Contains("id", StringComparison.OrdinalIgnoreCase));
}

<table class="table">
    <thead>
        <tr><td>@TableTitle</td></tr>
    </thead>
    <tbody>
        <tr>
            @if (Properties != null)
            {
                @foreach (var prop in Properties)
                {
                    <th>
                        @prop.Name
                    </th>
                }
                <th>Actions</th>
            }
            else
            {
                <th>Error</th>
            }
        </tr>
        @if (Properties != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    @foreach (var prop in Properties)
                    {
                        var propValue = prop.GetValue(item);
                        @if (prop.GetSetMethod(true).IsPublic)
                        {
                            if (propValue.GetType().IsEnum)
                            {
                                <td>
                                    <select class="enum-select" selected="@propValue"  @onchange="events => OnChangeEvent(events, prop, item)">
                                        @{
                                            var enumValues = Enum.GetValues(propValue.GetType());
                                            foreach(var val in enumValues)
                                            {
                                                <option value="@val">
                                                    @val
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input @onchange="events => OnChangeEvent(events, prop, item)"  type="text" value="@propValue" />
                                </td>
                            }
                        }
                        else
                        {
                             <td>
                                @propValue
                            </td>
                        }
                    }
                    <td>
                        <button @onclick="events => DeleteEvent(events, item)">Delete</button>
                        @if (ChangedItems.Any(x => CompareItemIds(x, item)))
                        {
                            <button>Edit</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                Sequence doesn't contain elements :(
            </tr>
        }
    </tbody>
</table>
@code{
    private bool CompareItemIds(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in IdProperties){
            result = prop.GetValue(item1).Equals(prop.GetValue(item2));
        }
        return result;
    }

    private bool CompareItems(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in Properties){
            result = prop.GetValue(item1).Equals(prop.GetValue(item2));
        }
        return result;
    }

    private void CopyItemValues(TItem source, ref TItem destination)
    {
        foreach(var prop in Properties){
            prop.SetValue(destination, prop.GetValue(source));
        }
    }
}
