@typeparam TItem where TItem : new()
@using System.Diagnostics.CodeAnalysis
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using IdentityModel.Client
@using Microsoft.AspNetCore.WebUtilities
@using WeGrow.Client.Services
@using WeGrow.Core.Enums
@using System.Globalization;
@using WeGrow.Models.Entities

@code {
    [Inject] private HttpClient HttpClient { get; set; }
    [Inject] private ITokenService TokenService { get; set; }
    [Inject] private IConfiguration Configuration { get; set; }

    [Parameter]
    public string TableTitle { get; set; }

    [Parameter, AllowNull]
    public List<TItem> Items { get; set; }

    private bool IsInitLoad { get; set; } = true;
    private List<TItem> ChangedItems { get; set; } = new List<TItem>();

    private IEnumerable<PropertyInfo> Properties { get; set; }
    private IEnumerable<PropertyInfo> IdProperties { get; set; }

    private async Task OnChangeEvent(ChangeEventArgs e, PropertyInfo property, TItem item)
    {
        var valueStr = e.Value.ToString();
        var propValueType = property.PropertyType;
        var changedItem = ChangedItems.FirstOrDefault(ci => CompareItemIds(ci, item));
        if(changedItem != null)
        {
            property.SetValue(changedItem, propValueType.IsEnum ? Enum.Parse(propValueType, valueStr, true) :
                                           propValueType == typeof(Decimal) ? Decimal.Parse(valueStr) :
                                           propValueType == typeof(Int32) ? Int32.Parse(valueStr) :
                                           e.Value);
            if(CompareItems(changedItem, item))
            {
                ChangedItems.Remove(changedItem);
            }
        }
        else
        {
            var copyItem = new TItem();
            CopyItemValues(item, ref copyItem);
            property.SetValue(copyItem, propValueType.IsEnum ? Enum.Parse(propValueType, valueStr, true) :
                                        propValueType == typeof(Decimal) ? Decimal.Parse(valueStr) :
                                        propValueType == typeof(Int32) ? Int32.Parse(valueStr) :
                                        e.Value);
            ChangedItems.Add(copyItem);
        }
    }

    private async Task DeleteEvent(MouseEventArgs e, TItem item)
    {
        var tokenResponse = await TokenService.GetAdminToken();
        HttpClient.SetBearerToken(tokenResponse.AccessToken);
        var id = GetIdValues(item);
        var uri = QueryHelpers.AddQueryString(Configuration["apiUrl"] + "/admin/modules", id);
        var result = await HttpClient.DeleteAsync(new Uri(uri));

        if (result.IsSuccessStatusCode)
        {
            Items.Remove(item);
        }
        else
        {
            throw new Exception("Delete server error");
        }
    }

    private async Task AddEvent(MouseEventArgs e, TItem item)
    {
        var changedItem = ChangedItems.FirstOrDefault(x => CompareItemIds(x, item));
        if (changedItem != null)
        {

            var tokenResponse = await TokenService.GetAdminToken();
            HttpClient.SetBearerToken(tokenResponse.AccessToken);

            var uri = Configuration["apiUrl"] + "/admin/modules";
            var result = await HttpClient.PostAsync(new Uri(uri), JsonContent.Create(changedItem));

            if (result.IsSuccessStatusCode)
            {
                var newItem = await result.Content.ReadFromJsonAsync<TItem>();
                Items.Add(newItem);

                // ChangedItems.Remove(changedItem);
            }
            else
            {
                throw new Exception("Adding server error");
            } 
        }        
    }

    private async Task EditEvent(MouseEventArgs e, TItem item)
    {
        var changedItem = ChangedItems.FirstOrDefault(x => CompareItemIds(x, item));
        if (changedItem != null)
        {

            var tokenResponse = await TokenService.GetAdminToken();
            HttpClient.SetBearerToken(tokenResponse.AccessToken);

            var uri = Configuration["apiUrl"] + "/admin/modules";
            var result = await HttpClient.PatchAsync(new Uri(uri), JsonContent.Create(changedItem));

            if (result.IsSuccessStatusCode)
            {
                ChangedItems.Remove(changedItem);
            }
            else
            {
                throw new Exception("Edit server error");
            } 
        }        
    }
}
@{
    var itemType = Items.GetType().GenericTypeArguments.First();
    Properties = itemType.GetProperties();
    IdProperties = Properties?.Where(p => Attribute.IsDefined(p, typeof(KeyAttribute)));
    if (IsInitLoad)
    {
        Items.Insert(0, new TItem());
    }
    bool addRow = true;
}

<table class="table">
    <thead>
        <tr><td>@TableTitle</td></tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var prop in Properties)
            {
                <th>
                    @prop.Name
                </th>
            }
            <th>Actions</th>
        </tr>
        @foreach (var item in Items)
        {
            <tr>
                @foreach (var prop in Properties)
                {
                    var propValue = prop.GetValue(item) ?? "";
                    var propType = prop.GetMethod.ReturnType;
                    @if (prop.GetCustomAttribute<KeyAttribute>() == null)
                    {
                        if (propValue.GetType().IsEnum)
                        {
                            <td>
                                <select class="enum-select"  @onchange="events => OnChangeEvent(events, prop, item)">
                                    @{
                                        var enumValues = Enum.GetValues(propType);
                                        foreach(var val in enumValues)
                                        {
                                            if(val.Equals(propValue))
                                            {
                                                <option value="@val" selected>
                                                    @val
                                                </option>
                                            }
                                            else
                                            {
                                            <option value="@val">
                                                @val
                                            </option>
                                            }
                                        }
                                    }
                                </select>
                            </td>
                        }
                        else
                        {
                            <td>
                                <input @onchange="events => OnChangeEvent(events, prop, item)"  type="text" value="@propValue" />
                            </td>
                        }
                    }
                    else
                    {
                        if (addRow)
                        {
                            <td>Auto</td>
                        }
                        else
                        {
                            <td>
                                @propValue
                            </td>
                        }
                    }

                }
                <td>
                    @if(addRow){
                        <button @onclick="events => AddEvent(events, item)">Add</button>
                    }
                    else{
                        <button @onclick="events => DeleteEvent(events, item)">Delete</button>
                        @if (ChangedItems.Any(x => CompareItemIds(x, item)))
                        {
                            <button @onclick="events => EditEvent(events, item)">Edit</button>
                        }
                    }
                </td>
            </tr>
            @if (addRow)
            {
                addRow = false;
            }
        }
    </tbody>
</table>
@{
    IsInitLoad = false;
}
@code{
    private bool CompareItemIds(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in IdProperties){
            result = prop.GetValue(item1).Equals(prop.GetValue(item2));
            if (!result)
            {
                return result;
            }
        }
        return result;
    }

    private bool CompareItems(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in Properties){
            result = (prop.GetValue(item1)?.Equals(prop.GetValue(item2) ?? prop.GetValue(item1) == prop.GetValue(item2)) == true);
            if (!result)
            {
                return result;
            }
        }
        return result;
    }

    private void CopyItemValues(TItem source, ref TItem destination)
    {
        foreach(var prop in Properties){
            prop.SetValue(destination, prop.GetValue(source));
        }
    }

    private Dictionary<string,string> GetIdValues(TItem item)
    {
        Dictionary<string, string> result = new();
        foreach(var prop in IdProperties)
        {
            result.Add(prop.Name, prop.GetValue(item).ToString());
        }
        return result;
    }
}
