@typeparam TItem where TItem : new()
@using System.Diagnostics.CodeAnalysis
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using WeGrow.Core.Enums
@using System.Globalization;

@code {
    [Parameter]
    public string TableTitle { get; set; }

    [Parameter, AllowNull]
    public List<TItem> Items { get; set; }

    private bool AddRow { get; set; } = true;
    private TItem NewItem { get; set; } = new TItem();
    private List<TItem> ChangedItems { get; set; } = new List<TItem>();

    private IEnumerable<PropertyInfo> Properties { get; set; }
    private IEnumerable<PropertyInfo> IdProperties { get; set; }

    private async Task OnChangeEvent(ChangeEventArgs e, PropertyInfo property, TItem item)
    {
        var propValueType = property.PropertyType;
        var changedItem = ChangedItems.FirstOrDefault(ci => CompareItemIds(ci, item));
        if(changedItem != null)
        {
            property.SetValue(changedItem, propValueType.IsEnum ? Enum.Parse(propValueType.GetType(), e.Value.ToString(), true) :
                                           propValueType == typeof(Decimal) ? Decimal.Parse(e.Value.ToString()) :
                                           propValueType == typeof(Int32) ? Int32.Parse(e.Value.ToString()) :
                                           e.Value);
            if(CompareItems(changedItem, item))
            {
                ChangedItems.Remove(changedItem);
            }
        }
        else
        {
            var copyItem = new TItem();
            CopyItemValues(item, ref copyItem);
            property.SetValue(copyItem, propValueType.IsEnum ? Enum.Parse(propValueType.GetType(), e.Value.ToString(), true) :
                                        propValueType == typeof(Decimal) ? Decimal.Parse(e.Value.ToString()) :
                                        propValueType == typeof(Int32) ? Int32.Parse(e.Value.ToString()) :
                                        e.Value);
            ChangedItems.Add(copyItem);
        }
    }

    private async Task DeleteEvent(MouseEventArgs e, TItem item)
    {
        Items.Remove(item);
    }
}
@{
    var itemType = Items.GetType().GenericTypeArguments.First();
    Properties = itemType.GetProperties();
    IdProperties = Properties?.Where(p => !p.GetSetMethod(true).IsPublic && p.Name.Contains("id", StringComparison.OrdinalIgnoreCase));
    if (AddRow)
    {
        Items.Insert(0, NewItem);
    }
}

<table class="table">
    <thead>
        <tr><td>@TableTitle</td></tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var prop in Properties)
            {
                <th>
                    @prop.Name
                </th>
            }
            <th>Actions</th>
        </tr>
        @foreach (var item in Items)
        {
            <tr>
                @foreach (var prop in Properties)
                {
                    var propValue = prop.GetValue(item) ?? "";
                    var propType = prop.GetMethod.ReturnType;
                    @if (prop.GetCustomAttribute<KeyAttribute>() == null)
                    {
                        if (propValue.GetType().IsEnum)
                        {
                            <td>
                                <select class="enum-select"  @onchange="events => OnChangeEvent(events, prop, item)">
                                    @{
                                        var enumValues = Enum.GetValues(propType);
                                        foreach(var val in enumValues)
                                        {
                                            if(val.Equals(propValue))
                                            {
                                                <option value="@val" selected>
                                                    @val
                                                </option>
                                            }
                                            else
                                            {
                                            <option value="@val">
                                                @val
                                            </option>
                                            }
                                        }
                                    }
                                </select>
                            </td>
                        }
                        else
                        {
                            <td>
                                <input @onchange="events => OnChangeEvent(events, prop, item)"  type="text" value="@propValue" />
                            </td>
                        }
                    }
                    else
                    {
                        if (AddRow)
                        {
                            <td>Auto</td>
                        }
                        else
                        {
                            <td>
                                @propValue
                            </td>
                        }
                    }

                }
                <td>
                    @if(AddRow){
                        <button>Add</button>
                    }
                    else{
                        <button @onclick="events => DeleteEvent(events, item)">Delete</button>
                        @if (ChangedItems.Any(x => CompareItemIds(x, item)))
                        {
                            <button>Edit</button>
                        }
                    }
                </td>
            </tr>
            @if (AddRow)
            {
                AddRow = false;
            }
        }
    </tbody>
</table>
@code{
    private bool CompareItemIds(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in IdProperties){
            result = prop.GetValue(item1).Equals(prop.GetValue(item2));
        }
        return result;
    }

    private bool CompareItems(TItem item1, TItem item2)
    {
        bool result = true;
        foreach(var prop in Properties){
            result = (prop.GetValue(item1)?.Equals(prop.GetValue(item2) ?? prop.GetValue(item1) == prop.GetValue(item2)) == true);
        }
        return result;
    }

    private void CopyItemValues(TItem source, ref TItem destination)
    {
        foreach(var prop in Properties){
            prop.SetValue(destination, prop.GetValue(source));
        }
    }
}
